.contextpack-cards-container {
  width: 100%;
  position: relative;

}

.fix{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  margin: auto;
  display: flex;
  border:none;
  background-color:black;



}
.contextpack-card {
  margin-bottom: 10px;
}

.search-card {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.add-contextpack-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}
