span.contextpack-card-wordlists{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
}
.mat-card{

}
.contextpack-card-name{


}


span.contextpack-card-nouns{
  display: inline-block;

  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;
}


span.contextpack-card-misc{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-adjectives{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-verbs{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;
}


.contextpack-download-button {
  border:none;
  margin-right:68%;
  float:right;
  border-radius: 3px;
}
.wordlist-name{
  font-weight: 500;

}

.box-one{
  text-align: left;
  color: rgb(51, 51, 51);
  border: 2px solid rgb(136, 6, 6);
  background-color: rgb(255, 130, 14);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.box-two{
  color: rgb(51, 51, 51);
  text-align: left;
  border: 2px solid rgb(11, 65, 31);
  background-color: rgb(123, 206, 129);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.box-three{
  color: rgb(51, 51, 51);
  text-align: left;
  border: 2px solid rgb(25, 58, 71);
  background-color: rgb(98, 144, 170);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.box-four{
  color: rgb(51, 51, 51);
  text-align: left;
  border: 2px solid rgb(68, 9, 9);
  background-color: rgb(255, 118, 116);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}


.contextpack-card-nouns{
  border: 2px solid rgb(68, 9, 9);
  background-color: rgb(255, 118, 116);
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
}

.contextpack-card-verbs{
  border: 2px solid rgb(25, 58, 71);
  background-color: rgb(98, 144, 170);
  padding: 5px;
  margin: 10px;

}

.contextpack-card-adjectives{
  border: 2px solid rgb(11, 65, 31);
  background-color: rgb(123, 206, 129);
  padding: 5px;
  margin: 10px;
}

.contextpack-card-misc{
  border: 2px solid rgb(100, 95, 17);
  background-color: rgb(204, 216, 40);
  padding: 5px;
  margin: 10px;
}

