span.contextpack-card-wordlists{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
}
.mat-card{ 

}
.contextpack-card-name{


}


span.contextpack-card-nouns{
  display: inline-block;

  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;
}


span.contextpack-card-misc{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-adjectives{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-verbs{
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;
}


.contextpack-download-button {
  border:none;
  margin-right:68%;
  float:right;
  border-radius: 3px;



}

