.flex-row-container {
  display:flex;
  flex-direction: column;
}


.flex-row-container{
  border: 4px solid rgb(152, 170, 247);
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 5px;
}

.wordlist{
  border: 4px solid rgb(152, 170, 247);
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 5px;
  margin-bottom: 20px;
}

.add-wordlist-button {
  width:25%;
  margin: 5px;
}

.adjectives{

  text-align: left;
  border: 2px solid rgb(11, 65, 31);
  background-color: rgba(123, 206, 129, 0.192);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: auto;
  vertical-align: top;
  display: inline-block;
  min-width: 10%;
  min-height: 200px;
}

.nouns{
  text-align: left;
  border: 2px solid rgb(136, 6, 6);
  background-color: rgba(211, 127, 127, 0.329);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 20%;
  display: inline-block;
  width: auto;
  vertical-align: top;
  min-width: 10%;
  min-height: 200px;

}

.verbs{
  text-align: left;
  border: 2px solid rgb(25, 58, 71);
  background-color: rgba(98, 144, 170, 0.15);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  min-width: 10%;
  min-height: 200px;
}
.misc{
  text-align: left;
  border: 2px solid rgb(219, 111, 49);
  background-color: rgba(238, 166, 118, 0.192);
  padding: 5px;
  margin: 10px;
  width: 20%;
  border-radius: 10px;
  display: inline-block;
  width: auto;
  vertical-align: top;
  min-width: 10%;
  min-height: 200px;
}



@media (max-width: 978px) {

  .nouns,.adjectives,.verbs,.miscs{
    margin: 1px;
    margin-bottom: 20px;
  }

}
button{
  display: inline-table;
  z-index: 1;
  font-family: Arial, sans-serif;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.search{
  border: 4px solid #3baada;
  background-color: #3baada42;

  padding: 10px;
  border-radius: 10px;
  width:auto;
  max-width: 80%
}


