<div fxLayout="row">
<div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
<form [formGroup]="wordlistsForm" (ngSubmit)="submitForm()" class="form">
  <mat-card class="edit-wordlists-card">
    <mat-card-title class="edit-wordlist-title">Edit Context Pack Wordlists</mat-card-title>
    <mat-card-content fxLayout="column">
    <mat-form-field>
      <mat-label>Pack ID</mat-label>
      <input class="form-control" matInput placeholder="id" [value]="data._id" readonly/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pack Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" value = {{this.data.name}}
        required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Context Pack is: </mat-label>
      <mat-select required formControlName="enabled" value = {{this.data.enabled}} >
        <mat-option value="true">Enabled</mat-option>
        <mat-option value="false">Disabled</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Icon</mat-label>
      <input class="form-control" matInput placeholder="icon" [value] = "this.data.icon"  readonly/>
    </mat-form-field>



    <div *ngFor="let wordlist of data.wordlists; let ix = index">

        <div class = "wordlist" formGroupName="wordlists">
          <div formGroupName={{ix}}>

          <button type="button" (click)="deleteWordlist(ix)">Remove This Wordlist</button><br>
          <h1>Wordlist {{ix+1}}:</h1>
            <div >
              <mat-form-field>
                <mat-label>Wordlist Name</mat-label>
                <input class="form-control" matInput placeholder="Name" formControlName="name"
                  required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Wordlist is: </mat-label>
                <mat-select required formControlName="enabled" value = {{this.data.enabled}} >
                <mat-option value="true">Enabled</mat-option>
                <mat-option value="false">Disabled</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div formGroupName="nouns" class ="nouns">
              <h1>Nouns</h1>
              <div *ngFor="let noun of data.wordlists[ix].nouns; let m = index">

              <div formGroupName={{m}}>
              <div>
                <mat-form-field>
                  <mat-label>Noun Word:</mat-label>
                  <input class="form-control" matInput placeholder="word" formControlName="word"
                    required>
                </mat-form-field>

                <button type="button" (click)="removeWord(ix, m, 'nouns')">Remove Nouns</button>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Noun Forms:</mat-label>
                  <input class="form-control" matInput placeholder="form" formControlName="forms"
                    required>
                </mat-form-field>
              </div>


              </div>

              </div>
            </div>





            <div formGroupName="adjectives" class ="adjectives">
              <h1>Adjectives</h1>
              <div *ngFor="let adjective of data.wordlists[ix].adjectives; let m = index">

              <div formGroupName={{m}}>
                <div>
                <mat-form-field>
                  <mat-label>Adjective Word:</mat-label>
                  <input class="form-control" matInput placeholder="word" formControlName="word"
                    required>
                </mat-form-field>
                <button type="button" (click)="removeWord(ix, m, 'adjectives')">Remove Adjective</button>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Adjective Forms:</mat-label>
                  <input class="form-control" matInput placeholder="form" formControlName="forms"
                    required>
                </mat-form-field>
              </div>



              </div>

              </div>
            </div>




            <div formGroupName="verbs" class ="verbs">
              <h1>Verbs</h1>
              <div *ngFor="let verb of data.wordlists[ix].verbs; let m = index">

              <div formGroupName={{m}}>
              <div>
                <mat-form-field>
                  <mat-label>Verb Word:</mat-label>
                  <input class="form-control" matInput placeholder="word" formControlName="word"
                    required>
                </mat-form-field>
                <button type="button" (click)="removeWord(ix, m, 'verbs')">Remove Verb</button>
              </div>
             <div>
                <mat-form-field>
                  <mat-label>Verb Forms:</mat-label>
                  <input class="form-control" matInput placeholder="form" formControlName="forms"
                    required>
                </mat-form-field>
              </div>
            </div>

              </div>
            </div>




            <div formGroupName="misc" class ="misc">
              <h1>Miscs</h1>
              <div *ngFor="let verb of data.wordlists[ix].misc; let m = index">

              <div formGroupName={{m}}>
              <div>
                <mat-form-field>
                  <mat-label>Misc Word:</mat-label>
                  <input class="form-control" matInput placeholder="word" formControlName="word"
                    required>
                </mat-form-field>
                <button type="button" (click)="removeWord(ix, m, 'misc')">Remove Misc</button>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Misc Forms:</mat-label>
                  <input class="form-control" matInput placeholder="form" formControlName="forms"
                    required>
                </mat-form-field>
              </div>
              </div>

              </div>
            </div>


















          </div>
          </div>
        </div>



  </mat-card-content>
  </mat-card>


</form>

<button class="add-wordlist-button" type="button"  (click)="addWordlist(this.wordlistsForm)" value="Add Wordlists">Add Wordlists</button>
<div class="buttons-div">

  <button type="submit" (click)="submitForm()"
    mat-button
    type="button"
    color="primary"
    [disabled]="!wordlistsForm.valid"
    type="submit"
    data-test="confirmAddWordlistButton"
    required>
    SUBMIT EDITS
  </button>


  <h5>Field Values</h5>


  <button class="contextpack-download-button"
  type="button"
  color='primary'
  [disabled]="!wordlistsForm.valid"
  (click)='contextpackcard.downloadJson(wordlistsForm.value, wordlistsForm.value.name).click()'

  >Download Json</button>

  <br><button matTooltip="View current Json" (click)="toggleShow()" type="checkbox" data-test="showJsonButton">Preview Json File</button>
  <div *ngIf='isShown===true'>

  <pre class="form-value" style="font-size:15px">{{ wordlistsForm.value| json }}</pre>


</div>


</div>





